<!-- <%= htmlWebpackPlugin.options.warning %> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <% _.forEach(htmlWebpackPlugin.options.vendorCss, function(css) { %>
    <link href="<%= css %>" rel="stylesheet" />
    <% }); %>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/0f0d9e5e81.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section data-main class="main">
      <div id="popup_create" class="popup popup_create">
        <div class="popup_content"></div>
      </div>
      <div id="popup_filter" class="popup popup_filter">
        <div class="popup_content"></div>
      </div>
      <img class="loader" src="dots.gif" />
      <div class="customer_care_info"></div>
      <div class="digital_source_info"></div>
      <div class="web_access"></div>
      <div class="interaction_history"></div>
    </section>
    <% _.forEach(htmlWebpackPlugin.options.vendorJs, function(js) { %><script
      type="text/javascript"
      src="<%= js %>"
    ></script
    ><% }); %>
  </body>
</html>
