/* common css */
body {
  font-family: "Roboto", sans-serif;
}

.loader {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
}

.main {
  margin-right: 10px;
}

.data {
  color: #363;
  padding-left: 6px;
}

#content td {
  font-size: 12px;
  padding-top: 2px;
}

.card .card-header {
  font-size: 14px !important;
}

.card .card-body {
  padding: 1.25rem 0;
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  max-width: 70px !important;
  border-radius: 50%;
  object-fit: cover;
}

span {
  font-size: 12px;
}

span.info-name {
  font-size: 15px !important;
  font-weight: bold;
}

.customer-info .col-2 {
  padding: 0 !important;
}

.customer-info .col-3 {
  padding-right: 0 !important;
  padding-left: 6px !important;
}

button {
  font-size: 11px !important;
}

div.loading {
  position: relative;
  height: 400px;
  background: #f2f2f240;
}

embed.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header-righ {
  float: right;
}

.header-righ i.fa-plus {
  margin-left: 20px;
}

.card {
  border-bottom: none;
  border-radius: 0;
  margin-bottom: -1px;
}

.c-tag span {
  font-size: 12px;
}

.c-tag {
  margin: 2px 5px !important;
  font-weight: 100;
}

.pointer {
  cursor: pointer;
}

.text-right {
  text-align: right;
}

span.badge.open {
  background: rgb(227, 79, 50);
}

span.badge.pending {
  background: rgb(48, 145, 236);
}

span.badge.new {
  background: rgb(255, 182, 72);
}

.select2-results span,
.select2-results li {
  font-size: 13px !important;
}

.marginTop15 {
  margin-top: 15px;
}

.marginTop8 {
  margin-top: 8px;
}

.gray13 {
  color: #403c3c;
  font-size: 13px;
}

/* ================================================= module css zone =================================================== */
/* customer care info css */
/* customer care info css */
div.customer_care_info div,
div.customer_care_info b,
div.customer_care_info i {
  font-size: 12px;
}

.text-right {
  text-align: right;
}

/* digital source info */

/* web accessed css */
div.web_access .accessed-first,
div.web_access .accessed-last,
a {
  font-size: 12px;
}
div.web_access span.time-gray {
  color: #969696;
}

/* popup content */
div.popup {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 500;
  position: fixed;
  display: none;
}
div.popup div.card {
  position: fixed;
  top: 2%;
  right: 5%;
  border-radius: 6%;
  border-bottom: 1px solid #e1e4e4;
  box-shadow: -22px 17px 66px -13px rgba(0, 0, 0, 0.27);
}
div.popup div.card-body {
  padding: 0;
}
div.popup div.card-body .row {
  padding: 0 16px;
  margin: 0;
}
div.popup div.card-body .item:hover {
  background-color: #ababa136;
}
div.popup .row > div {
  padding: 10px;
}
div.popup div.card-header .fa-times {
  margin-right: 0px !important;
}
div.popup hr {
  margin: 0;
}

/* interaction history*/
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline p {
  font-size: 12px;
}
ul.timeline > li {
  margin: 0px 0;
  margin-left: 50px;
  margin-right: 20px;
}
ul.timeline > li > div {
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #92a0a0;
  color: #92a0a0;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
  font-size: 13px;
  padding: 3px 3px;
}

ul.timeline > li > div > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul.timeline i.fa-plus {
  margin-top: 8px;
  float: right;
}
/* modal detail css */
div.modal_detail div.card {
  border-bottom: 1px solid #e1e4e4;
  margin-bottom: 10px;
}
div.modal_detail a,
div.modal_detail b {
  font-size: 15px;
}
.modal_detail .item {
  padding: 0px 15px;
}

.modal_detail .page-link {
  padding: 0.26rem 0.75rem !important;
}

.modal_detail .page-input {
  padding: 0.12rem 0.75rem;
}

.modal_detail .page-label {
  padding: 0.3rem 0rem;
}

.modal_detail div.card-body hr:last-child {
  display: none;
}
/* create ticket css */

div.create_ticket {
  height: 450px;
  margin-right: 10px;
  border: 1px solid #cbcbcb;
  /* padding: 8px 18px; */
  border-radius: 4px;
}
div.create_ticket > div.row > .col-4 {
  border-right: #cbcbcb solid 1px;
}
div.create_ticket p {
  margin-bottom: 25px;
}
div.create_ticket label {
  font-weight: bold;
}
div.create_ticket label.tab {
  font-weight: unset;
}
div.create_ticket textarea {
  margin-top: -5px;
}
div.create_ticket textarea.active {
  background: #fff6d9;
  border: 1px solid #efdaa3;
}
div.create_ticket label.active {
  margin-bottom: 0px;
  border-bottom: 3px solid#1f73b7;
  color: #44535f;
  font-weight: 600 !important;
}
div.create_ticket div.row.padding-20-15 {
  padding: 20px 15px;
}
div.create_ticket .btn-group {
  float: right;
}
div.create_ticket .popup_submit {
  border: 1px solid rgba(213, 208, 208, 0.81961);
  width: 200px;
  height: 165px;
  background: white;
  position: fixed;
  bottom: 65px;
  border-radius: 5px;
  right: 10px;
  display: none;
}
div.create_ticket .popup_submit li {
  padding: 10px 20px;
}
div.create_ticket .popup_submit li:hover {
  background: #edf7ff;
}
div.create_ticket span.badge {
  width: 17px;
}
div.create_ticket button,
div.create_ticket b,
div.create_ticket span {
  font-size: 13px !important;
}

/* not found  */
.notfound div.bg_img {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  background: url(notfound.png);
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  text-align: center;
}
.notfound span {
  position: absolute;
  top: 35%;
  width: 56%;
  transform: translate(50%, 50%);
  font-size: 16px;
}
.notfound a {
  font-size: 16px;
}
